[auth]
  default_new_user_role = "restrictedcontrol"
  backend = "managed"
  [auth.sessions]
    lifetime_minutes = 4320
    renewal_threshold_minutes = 1440
    per_user_limit = 0
  [auth.ldap]
    sync_schedule = ""
    jit_user_provisioning = true
    server_url = ""
    no_simple_pagination = false
    start_tls = false
    root_certs = ""
    tls_skip_verify = false
    reader_dn = ""
    reader_password = ""
    [auth.ldap.admin_sync_opts]
      enable_sync = false
      select_group_members = false
      group_dn = ""
      group_member_attr = ""
      search_base_dn = ""
      search_scope_subtree = false
      search_filter = ""

[scheduling_configuration]
  enable_admin_ucp_scheduling = true
  default_node_orchestrator = kubernetes

[tracking_configuration]
  disable_usageinfo = false
  disable_tracking = false
  anonymize_tracking = false
  cluster_label = ""

[trust_configuration]
  require_content_trust = false

[log_configuration]
  protocol = ""
  host = ""
  level = "INFO"

[license_configuration]
  auto_refresh = true

[cluster_config]
  controller_port = 443
  swarm_port = 2376
  swarm_strategy = "spread"
  dns = []
  dns_opt = []
  dns_search = []
  kv_timeout = 5000
  kv_snapshot_count = 20000
  profiling_enabled = false
  external_service_lb = ""
  metrics_retention_time = ""
  metrics_target_heap_size = "256M"
  metrics_scrape_interval = "1m"
  metrics_disk_usage_interval = "2h"
  rethinkdb_cache_size = "512MB"
  cni_installer_url = ""
  min_tls_version = ""

